label {
    display: inline-block;
}

body,
html {
    height: 100%;
    margin: 0;
}

#flash {
  background-color: #FFFFCC;
}

.status-1 {
    background-color: #99ffe6;
}
.status-3 {
    background-color: #ccff99;
}
.status-6 {
    background-color: #ffff99;
}
.status-7 {
    background-color: #ffcc99;
}