label {
    display: inline-block;
}

body,
html {
    height: 100%;
    margin: 0;
}

#flash {
  background-color: #FFFFCC;
}

.status-1 {
    background-color: #e6ffe6;
}
.status-3 {
    background-color: #ccffcc;
}
.status-6 {
    background-color: #b3ffb3;
}
.status-7 {
    background-color: #99ff99;
}