label {
    display: inline-block;
}

body,
html {
    height: 100%;
    margin: 0;
}

#flash {
  background-color: #FFFFCC;
}

.status-1 {
    background-color: #F8F8F8;
}
.status-3 {
    background-color: #E8E8E8;
}
.status-6 {
    background-color: #D8D8D8;
}
.status-7 {
    background-color: #C8C8C8;
}