{% extends 'base.html' %} {% block title %} Submit your application {% endblock %} {% block content %}
{% if session %}
Log out first to submit application
{% else %}

<form action="submit-application" method="POST" enctype="multipart/form-data">
    <div class="form-group">
    <label>First Name</label>
        <input type="text" name="first_name"> *
    </div>
    <div class="form-group">
    <label>Last Name
        <input type="text" name="last_name"> *
    </label>
    </div>
    <div class="form-group">
    <label>Email
        <input type="email" name="email"> *
    </label>
    </div>
    <div class="form-group">
    <label>Password
        <input type="password" name="password"> *
    </label>
    </div>
    <div class="form-group">
    <label>Phone number
        <input type="text" name="phone"> *
    </label>
    </div>
    <div class="form-group">
    <label>Location
        <input type="text" name="location">
    </label>
    </div>
    <div class="form-group">
    <label>Linkedin
        <input type="text" name="linkedin">
    </label>
    </div>
    <div class="form-group">
    <label>Github login
        <input type="text" name="github">
    </label>
    </div>
    <div class="form-group">
    <label>Desired position
        <input type="text" name="position">
    </label>
    </div>
    <div class="form-group">
    <label>Salary
        <input type="text" name="salary">
    </label>
    </div>
    <div class="form-group">
    <label>Attach resume:
        <input type="file" name="file">
    </label>
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
</form>

{% endif %}
{% endblock %}