{% extends 'base.html' %} {% block title %} Resume Data {% endblock %}
{% block morehead %}
{% endblock %}
{% block content %}
<div class='container-fluid'>
    <h2>Resume Data</h2> {% if users %}
    <table>
        {% for user in users %}
        <tr>
            <td><a href="/users/{{ user.user_id }}">{{ user.first_name }} {{ user.last_name }} </a></td><td><span class="status-{{ user.interview[0].status_id }}">{{ user.interview[0].status.status_name }}</span></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<!-- Hides side menu -->
<script>
$(".navbar navbar-inverse").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
{% endblock %}