{% extends 'base.html' %} {% block title %} Search {% endblock %} {% block content %}
<div class='container-fluid'>
    <h1>Search for candidate</h1>
    <form class="form-search" id="form-search">
        <div class="input-append">
            <input type="text" id="text" class="span2 search-query input-xxlarge" placeholder="Search here">
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
    <div class="results">
    </div>
</div>
<!-- Search form action -->
<script>
function searchQuery(evt) {
    evt.preventDefault();
    var query = $('#text').val()
    var data = {
        'search_query': query,
    }
    $.ajax({
        type: "POST",
        url: '/search',
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
            console.log(Object.keys(result));
            console.log(Object.keys(result).length);

            var keys = Object.keys(result);
            $('.results').text(keys.length + ' results was found');
            for (var i = 0; i < keys.length; i++) {
                snippet = result[keys[i]].resume
                $('.results').append("<div id=" + keys[i] + " class='search-result'>" + (i + 1) + ": " + 'Name: ' +
                    "<a href='/users/" + keys[i] + "'>" + result[keys[i]].user + "</a>" + ' Email: ' + result[keys[i]].email + '<br />' + snippet.slice(0, 140) + '<br>');
                console.log(result[keys[i]].user);

            }
        }
    });

    console.log("Finished sending AJAX");
}
$("#form-search").on("submit", searchQuery);
</script>
{% endblock %}