{% extends 'base.html' %} {% block title %} Search {% endblock %} {% block content %}
<div class='container-fluid'>
    <h1>Search for candidate</h1>
    <form class="form-search" id="form-search">
        <div class="input-append">
            <input type="text" id="text" class="span2 search-query input-xxlarge" placeholder="Search here">
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
    <div class="results">
    </div>
</div>
<!-- Search form action -->
<script>
function searchQuery(evt) {
    evt.preventDefault();
    var query = $('#text').val()
    var data = {
        'search_query': query,
    }
    $.ajax({
        type: "POST",
        url: '/search',
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {

            var keys = Object.keys(result);
            $('.results').text(keys.length + ' results was found');
            
            var rank = [];
            var inuse = [];
            for (var i = 0; i < keys.length; i++) { //makes a list of all relevancy values
                rank.push(result[keys[i]].relevancy)
            }
            rank.sort(function(a,b){return b - a});  //sort list starting from biggest number

            for (var i=0; i < rank.length; i++) {
                for (var j=0; j < keys.length; j++) {

                    if ((result[keys[j]].relevancy === rank[i]) && (inuse.indexOf(keys[j]) == -1)) {
                        $('.results').append("<div id=" + i + " class='search-result'>" + (i + 1) + ": " + 'Name: ' +
                        "<a href='/users/" + keys[j] + "'>" + result[keys[j]].user + "</a>" + ' Email: ' + result[keys[j]].email + '<br />'+ result[keys[j]].snippet + '<br>' + 'Relevancy: ' + result[keys[j]].relevancy);
                        inuse.push(keys[j]);

                    break;   //break if one result for this key has been shown
                    }
                }
            }
        }
    });

}
$("#form-search").on("submit", searchQuery);
</script>
{% endblock %}