{% extends 'base.html' %}
{% block title %} Pair programming tool {% endblock %}
{% block morehead %}
    <!-- <link href="stylesheets/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js">
    </script><script type="text/javascript" src="/socket.io.js"></script>
    <script>    

// The script is not my creation, it's coppied from example
WEB_SOCKET_SWF_LOCATION = "/WebSocketMain.swf";
WEB_SOCKET_DEBUG = true;

// socket.io specific code
var socket = io.connect();

socket.on('connect', function () {
    $('#chat').addClass('connected');
});

socket.on('announcement', function (msg) {
    $('#lines').append($('<p>').append($('<em>').text(msg)));
});

socket.on('nicknames', function (nicknames) {
    $('#nicknames').empty().append($('<span>Online: </span>'));
    for (var i in nicknames) {
    $().append($('<b>').text(nicknames[i]));
    }
});

socket.on('msg_to_room', message);
socket.on('reconnect', function () {
    $('#lines').remove();
    message('System', 'Reconnected to the server');
});

socket.on('reconnecting', function () {
    message('System', 'Attempting to re-connect to the server');
});

socket.on('error', function (e) {
    message('System', e ? e : 'A unknown error occurred');
});

function message (from, msg) {
    $('#tool').html(msg);
}

// dom manipulation
$(function () {
    $('#set-nickname').submit(function (ev) {
        socket.emit('nickname', $('#nick').val(), function (set) {
            if (!set) {
                clear();
                return $('#chat').addClass('nickname-set');
            }
            $('#nickname-err').css('visibility', 'visible');
        });

        socket.emit('room_name', window.location.pathname.split('/')[2]);

        return false;
    });

    $('#tool').keyup( function () {
      // message('me', $('#tool').val());
      socket.emit('user message', $('#tool').html());
      $('#lines').get(0).scrollTop = 10000000;
      return false;
    });

    function clear () {
        $('#message').val('').focus();
    };
});
    </script>

{% endblock %}
    <!-- <script>hljs.initHighlightingOnLoad();</script> -->
{% block content %}
  <div id="chat">
    <div id="nickname">
      <form id="set-nickname" class="wrap">
        <p>Please type in your nickname and press enter.</p>
        <input id="nick" value="{{ session['email']}}">
        <p id="nickname-err" style="visibility: hidden">Nickname already in use</p>
    </form>
    </div>
<!--     <div id="connecting">
      <div class="wrap">Connecting to socket.io server</div>
    </div> -->
    <div id="messages">
      <div id="nicknames"></div>
      <div id="lines"></div>
    </div>
    
  </div>

<pre><code class="python">
    <div id="tool" name="tool" contentEditable="true" style="margin-top: 0px; width: 900px; height: 358px; margin-left: 0px; ">Code here</div>
</code></pre>

{% endblock %}
