{% extends 'base.html' %} {% block title %} Candidate profile {% endblock %} {% block content %}
<h2>Profile</h2> {% if user %}
<div class='container'>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <label>First name:
                <div id="name">{{ user.first_name }}</div>
            </label>&nbsp
            <label>Last Name:
                <div id='lname'>{{ user.last_name }}</div>
            </label>&nbsp
            <label>Email:
                <div id='email'>{{ user.email }}</div>
            </label>&nbsp
            <label>Location:
                <div id='location'>{{ user.location }}</div>
            </label>&nbsp
            <label>Phone number:
                <div id='phone'>{{ user.phone }}</div>
            </label>&nbsp
            <label>Linkedin:
                <div id='linkedin'>{{ user.linkedin }}</div>
            </label>&nbsp
            <label>Salary:
                <div id="salary">{{ user.salary }}</div>
            </label>
            <label>Github:
                <div id='github'>{{ user.github }}</div>
            </label>
            <label>Desired position:
                <div id='position'>{{ user.position }}</div>
            </label>
            <br> Status: {{ interview.status.status_name }}
            <br>
            <!-- This code shows interview status or calendar to schedule interview -->
            {% if interview.interview_date %} Interview date: Interviewer: Link to tool: {% else %} Schedule interview
            <br> Choose Interviewer:
            <form id="interview-data-form" action="" method="POST">
                <select name="interviewers" id="interviewers">
                    {% for recruiter in recruiters %}
                    <option value="{{ recruiter.recruiter_id}}">{{ recruiter.first_name }} {{ recruiter.last_name }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <p>Date:
                    <input type="text" id="calendar" />
                    Time:
                   <select name="interview_hour" id="interview_hour"> 
                     <option value="10">10:00am</option>
                     <option value="12">12:00pm</option>
                     <option value="14">2:00pm</option>
                   </select>
                </p>
                <br>
                <input type="submit">
            </form>
        </div>
        <div class="col-xs-12 col-md-8">
            {% endif %} Resume:
            <br>
            <div id="resume"> {{ user.resume.resume_text }}</div>
        </div>
    </div>
</div>
{% endif %}

<script>
function changeInterviewData() {

    console.log("Finished updateInterview");
}

function updateInterview(evt) {
    evt.preventDefault();
    var recr_id = $("#interviewers option:selected").val()
    var date = $('#calendar').val()
    var time = $("#interview_hour option:selected").val()
    var email = $('#email').text()
    var data = {
        'interview_date': date,
        'recrcuiter_id': recr_id,
        'user_email': email,
        'interview_hour': time,
    }
    $.ajax({
        type : "POST",
        url : '/schedule_interview',
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
        }
    });

    console.log("Finished sending AJAX");
}
$("#interview-data-form").on("submit", updateInterview);

</script>

<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>
$(function() {
    $("#calendar").datepicker();
});
</script>
{% endblock %}